<!-- <div class="card" style="width: 18rem;" *ngFor="let product of products">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price}}</p>
        <p class="card-text">{{product.description | mypipe:10}}</p>
        <a  (click)="addToCart(product.id)" class="btn btn-primary">Buy</a>
    </div>
</div> -->

<!-- <input type="text" [(ngModel)]="title" (ngModelChange)="seeInConsole()" > -->
<!-- <input type="text" #name (input)="show()" > -->
<!-- <div style="display: flex; justify-content: center; align-items: center; margin: 80px  0 0 0;">
    <div style="width: 50%;">
        <form #f="ngForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ngModel name="email" #email="ngModel" type="email" required minlength="4" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.minlength">Minlength must be 4</div>
                </div>
            </div>
            <div class="form-group" ngModelGroup="address" #address="ngModelGroup">
                <label for="exampleInputEmail1">Address</label>
                <input ngModel required name="city" class="form-control" placeholder="City">
                <input ngModel required name="country" class="form-control" placeholder="Country">
            </div>
            <div class="alert alert-danger" *ngIf="!address.valid && address.touched">
                Please complete the address
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input ngModel name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid" >Submit</button>
        </form>
    </div>
</div> -->


<div style="display: flex; justify-content: center; align-items: center; margin: 80px  0 0 0;">
    <div style="width: 50%;">

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email">
                <div class="alert alert-danger" *ngIf="!form.get('email').valid && form.get('email').touched">
                    Can not contain space
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <div class="form-group" formGroupName="address">
                <label for="exampleInputEmail1">Address</label>
                <input class="form-control" placeholder="City" formControlName="city">
                <input class="form-control" placeholder="Country" formControlName="country">
            </div>
            <div formArrayName="companies">
                <div class="form-group" *ngFor="let c of companies; let i = index" [formGroupName]="i">
                    <label for="exampleInputEmail1">Company</label>
                    <input class="form-control" placeholder="Title" formControlName="title">
                    <input class="form-control" placeholder="Designation" formControlName="designation">
                    <button type="button" class="btn btn-primary" (click)="removeCompany(i)">Remove</button>
                </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="addCompany()">Add</button>
            <button type="button" class="btn btn-primary" (click)="removeEmailValidator()">Remove Validator</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>